# S02: Data Structures, Conditions and Loops

### Data Science, Machine Learning and Artificial Intelligence - by Farzad Minooei

## Data Structures

### Lists

Lists are ordered sequences that can hold a variety of object types.

In [1]:
l1 = ['abc', 100, 5.90, 100]
l1

['abc', 100, 5.9, 100]

In [3]:
type(l1)

list

In [4]:
len(l1)

4

In [7]:
l1[0]

'abc'

In [9]:
l1[1 : 3]

[100, 5.9]

In [10]:
l1[ : 3] #l1[0 : 3]

['abc', 100, 5.9]

In [13]:
l1[1 : ] #l1[1 : len(l1)]

[100, 5.9, 100]

In [15]:
l1[-1]

100

In [17]:
#Method
l1.index('abc')

0

In [19]:
l1.count(100)

2

In [21]:
l1.append(7.01)
l1

['abc', 100, 5.9, 100, 7.01]

In [23]:
#Insert value before index
l1.insert(2, 5.1)
l1

['abc', 100, 5.1, 5.9, 100, 7.01]

In [25]:
#Remove from list
l1.pop()
l1

['abc', 100, 5.1, 5.9, 100]

In [27]:
#List is mutable
l1[1] = 0
l1

['abc', 0, 5.1, 5.9, 100]

In [29]:
l2 = list(range(1, 6))
l2

[1, 2, 3, 4, 5]

In [31]:
#Concatination
l3 = l1 + l2
l3

['abc', 0, 5.1, 5.9, 100, 1, 2, 3, 4, 5]

In [33]:
#Nested list
l4 = [l1, l2]
l4

[['abc', 0, 5.1, 5.9, 100], [1, 2, 3, 4, 5]]

In [35]:
l4[1][1]

2

### Dictionaries

Dictionaries are unordered mappings for sorting objects.

In [39]:
d1 = {'k1': 30, 'k2': 40, 'k3': 'a'}
d1

{'k1': 30, 'k2': 40, 'k3': 'a'}

In [41]:
type(d1)

dict

In [43]:
len(d1)

3

In [45]:
d1['k2']

40

In [47]:
d2 = {'k1': 12.5, 
      'k2': [0, 1, 2, 3, 4], 
      'k3': {'k3_1': 'abc', 'k3_2': 'def'}}
d2

{'k1': 12.5, 'k2': [0, 1, 2, 3, 4], 'k3': {'k3_1': 'abc', 'k3_2': 'def'}}

In [49]:
d2['k2']

[0, 1, 2, 3, 4]

In [51]:
d2['k2'][2]

2

In [53]:
d2

{'k1': 12.5, 'k2': [0, 1, 2, 3, 4], 'k3': {'k3_1': 'abc', 'k3_2': 'def'}}

In [55]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [57]:
d2.values()

dict_values([12.5, [0, 1, 2, 3, 4], {'k3_1': 'abc', 'k3_2': 'def'}])

In [59]:
d2['k4'] = 300
d2

{'k1': 12.5,
 'k2': [0, 1, 2, 3, 4],
 'k3': {'k3_1': 'abc', 'k3_2': 'def'},
 'k4': 300}

In [61]:
d2['k3']['k3_1'] = "efg"
d2

{'k1': 12.5,
 'k2': [0, 1, 2, 3, 4],
 'k3': {'k3_1': 'efg', 'k3_2': 'def'},
 'k4': 300}

In [63]:
#Access to user-defined varibales:
#Magic Commands: 
#https://ipython.readthedocs.io/en/stable/interactive/magics.html
%whos

Variable               Type        Data/Info
--------------------------------------------
d1                     dict        n=3
d2                     dict        n=4
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000001CE4C1E49A0>
dataframe_hash         function    <function dataframe_hash at 0x000001CE4C1E4E00>
dtypes_str             function    <function dtypes_str at 0x000001CE4C18FA60>
get_dataframes         function    <function get_dataframes at 0x000001CE4C18F420>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x000001CE4C18F4C0>
is_data_frame          function    <function is_data_frame at 0x000001CE4C1E4B80>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
l1                     list        n=5
l2                     list        n=5
l3                     list        n=10
l4                     list        n=2

In [65]:
del d1, d2

In [67]:
%whos

Variable               Type        Data/Info
--------------------------------------------
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000001CE4C18F4C0>
dataframe_hash         function    <function dataframe_hash at 0x000001CE4C1E49A0>
dtypes_str             function    <function dtypes_str at 0x000001CE4C1E4B80>
get_dataframes         function    <function get_dataframes at 0x000001CE4C18FA60>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x000001CE4C18CD60>
is_data_frame          function    <function is_data_frame at 0x000001CE4C1E4A40>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
l1                     list        n=5
l2                     list        n=5
l3                     list        n=10
l4                     list        n=2

### Tuples

Tuples are very similar to lists, however they are immutable.

In [71]:
t1 = (1, 4, 4, 'abc')
t1

(1, 4, 4, 'abc')

In [73]:
type(t1)

tuple

In [75]:
len(t1)

4

In [77]:
t1[0]

1

In [79]:
t1.index('abc')

3

In [81]:
t1.count(4)

2

In [83]:
#Tuple does not support item assignment (immutable)
t1[0] = 0 #error

TypeError: 'tuple' object does not support item assignment

### Sets

Sets are unordered collections of unique elements.

In [85]:
s1 = {3, 5, 7, 7, 7, 9}
s1

{3, 5, 7, 9}

In [87]:
type(s1)

set

In [89]:
len(s1)

4

In [91]:
s1.add(1)
s1

{1, 3, 5, 7, 9}

In [93]:
#Set is not subscriptable
s1[0] #error

TypeError: 'set' object is not subscriptable

In [95]:
l1 = [1, 1, 1, 1, 2, 2, 3, 4]
l1

[1, 1, 1, 1, 2, 2, 3, 4]

In [97]:
#Convert to set to obtain unique values of list 
set(l1)

{1, 2, 3, 4}

## Conditions

In [100]:
a = 2
if a > 0:
    print('The number is positive')

The number is positive

In [102]:
a = -2
if a > 0:
    print('The number is psoitive')
else:
    print('The number is negative')

#What's the problem?

The number is negative

In [104]:
a = 0
if a > 0 :
    print('The number is positive')
elif a < 0 :
    print('The number is negative')
else:
    print('The number is zero')

The number is zero

## Loops

### For Loops

In [108]:
l2

[1, 2, 3, 4, 5]

In [109]:
for i in l2:
    print(i ** 2)

1
4
9
16
25

In [110]:
for i in range(1, 6):
    print(i ** 2)

1
4
9
16
25

In [111]:
l = []
for i in range(1, 6):
    l.append(i ** 2)
l

[1, 4, 9, 16, 25]

In [116]:
#List comprehension
l = [_ ** 2 for _ in range(1, 6)]
l

[1, 4, 9, 16, 25]

In [118]:
#Extract odd numbers from l1
l1 = [3, 7, 22, 78, 91, 28, 36, 41, 33, 52]

In [120]:
odd_l1 = []
odd_l1

[]

In [122]:
for i in l1:
    if i % 2 != 0:
        odd_l1.append(i)
odd_l1

[3, 7, 91, 41, 33]

In [124]:
#List comprehension syntax
#  newList = [element for element in iterable if condition] 

#Extract odd numbers from l1 using list comprehension
l1 = [3, 7, 22, 78, 91, 28, 36, 41, 33, 52]
odd_l1 = [_ for _ in l1 if _ % 2 != 0]
odd_l1

[3, 7, 91, 41, 33]

In [125]:
#Nested for
#10 * 10 multiplication table
#Create an empty nested list
table = [[None for _ in range(10)] for _ in range(10)]
table

[[None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None]]

In [128]:
for i in range(len(table)):
    for j in range(len(table)):
        table[i][j] = (i + 1) * (j + 1) 
        
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

### While Loops

In [131]:
c = 1
while c <= 5:
    print(c ** 2)
    c += 1

1
4
9
16
25

### Break Statement

In [134]:
#The break is used to terminate the loop.
#Search for a desired value and stop when found
l = [10, 3, 7, 5, 13, 9, 19]
desired_value = 5

flag = False
for i in l:
    if i == desired_value:
        flag = True
        break

if flag:
    print('{} is found.'.format(desired_value))
else:
    print('{} is not found.'.format(desired_value))

5 is found.

# End of Code